.market__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 70px;

    .search__bar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            background: transparent;
            outline: none;
            border-width: 2px;
            border-style: solid;
            border-image: linear-gradient(20deg, rgba(32,112,143,1) 3%, rgba(218,0,255,1) 97%) 1;
            padding: 10px;
            width: 50%;
            font-size: 1rem;
            color: #fff;
            transition: .3s ease;
            caret-color: rgb(255, 255, 0);

            &::placeholder{
                color: #fff;
            }

            &:focus {
                border-color: rgb(255, 255, 0);
            }
        }
    }
    
    table {
        width: 90%;
        border-collapse: collapse;
        
        thead {    
            background: linear-gradient(20deg, rgba(32,112,143,1) 3%, rgba(218,0,255,1) 97%);
            tr {
                width: 100%;
                th:first-child{
                    text-align: left;
                }

                th {
                   width: 25%;
                   color: #fff;
                    padding: 15px 10px;
                    font-size: 1.2rem;
                    text-align: center;
                    cursor: pointer;
                    transition: .3s ease;
                }

                th.active{
                    color: rgb(225, 243, 145);
                }
            }

        }

        tbody {

            tr {
                border-bottom: 1px solid #ffffff;
                transition: .2s ease-in;
                cursor: pointer;
             
                
                td:first-child{
                    a{
                        text-decoration: none;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        padding: 10px;
                    }
                  

                    img {
                        width: 60px;
                    }
                }

                td{
                    text-align: center;
                }

                &:hover {
                    background-color: #ffffff0c;
                }
            }
        }
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}

@media screen and (max-width: 800px){
    .search__bar {
        input {
            width: 75%!important;
        }
    }
                        
    .market__wrapper{
        table {
            width: 100%;
        thead{
            th{
                font-size: 1rem!important;

                &:last-child{
                    display: none;
                }
            }
        }
        tbody {
            tr{
                td:last-child{
                    display: none!important;
                }
            }
        }
    }
    }
    
}