

@media screen and (max-width: 1800px){
    .home {
        padding: 35px 100px;
    }
}

@media screen and (max-width: 800px){
    .home {
        padding: 15px 0px;
    }
}

@media screen and (max-width: 400px){
    .history__chart{
        width: 200px;
    }
    
}