.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    gap: 140px;

    .header__title {
        display: flex;
        flex-direction: column;
        font-size: 4.8rem;
        align-items: center;
        letter-spacing: .2rem;
        font-weight: 900;
       

        span {
            background: linear-gradient(34deg, rgb(172, 95, 196) 10%, rgb(25, 109, 103) 35%, rgb(13, 161, 190) 100%);
             -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }
    }

    .header__crypto {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 90px;
        cursor: pointer;

        img {
            width: 110px;
            margin-bottom: 25px;
        }

        .header__single{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;

            h2 {
                span{
                    font-size: 1.2rem;
                }
            }

            .price {
                font-weight: 600;
            }

        }
    }
}

@media screen and (max-width: 1200px){
    .header {
        padding-top: 50px;
        .header__title{
            font-size: 2.8rem;
            line-height: 4.5rem;
        }
        .header__crypto{
            padding: 10px;
            width: 650px;
            gap: 15px;
            justify-content: center;
            flex-wrap: wrap!important;

            img {
                width: 70px;
            }
         
            .header__single{
                
                gap: 5px;
                h2 {
                    font-size: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                }

                .price {
                    font-size: 0.9rem;
                }
            }
        }
    }
    
}

@media screen and (max-width: 700px){
    .header {
        gap: 80px;
        padding-top: 10px;
        .header__crypto{
            width: 350px;
        }
        .header__title{
            font-size: 1.5rem;
            line-height: 3rem;
        }
    }
    
}

@media screen and (max-width: 450px){
    .header {
        gap: 30px!important;
        padding-top: 10px;

        .header__title{
            font-size: 1.3rem!important;
            line-height: 3rem;
        }
    }
    
}
