.history__chart{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 850px;
    padding-bottom: 10px;
    gap: 50px;
    
    .history__loader{
        height: 350px;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 800px){
    .history__chart{
        width: 400px;
    }

    .history__loader{
        height: auto!important;
    }
    
}

@media screen and (max-width: 400px){
    .history__chart{
        width: 300px;
    }
    
}