@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 130vh;
    font-family: 'Space Grotesk', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(-170deg, rgb(4, 1, 70) 0%, rgb(51, 15, 80) 55%, rgb(44, 30, 165) 100%) fixed;
    color: #fff;
}

.home {
    padding: 15px 350px;
}

.home,
.single__coin {
    position: relative;
    top: 105px;
}